{% extends 'base.html' %}
{% load django_bootstrap5 %}
{% load i18n %}

{% block content %}
<h1 class="my-4">{% translate 'Task view' %}</h1>
    
<div class="card">
<div class="card-header bg-secondary text-white">
  <h2>{{ task }}</h2>
</div>
<div class="card-body bg-light">
  <p>{{ task.description }}</p>
  <hr>
  <div class="container">
    <div class="row p-1">
      <div class="col">{% translate 'Author' %}</div>
      <div class="col">{{ task.author }}</div>
    </div>
    <div class="row p-1">
      <div class="col">{% translate 'Executor' %}</div>
      <div class="col">{{ task.executor }}</div>
    </div>
    <div class="row p-1">
      <div class="col">{% translate 'Status' %}</div>
      <div class="col">{{ task.status }}</div>
    </div>
    <div class="row p-1">
      <div class="col">{% translate 'Date of creation' %}</div>
      <div class="col">{{ task.created_at }}</div>
    </div>
    <div class="row p-1">
      <div class="col">
        <h6>{% translate 'Labels' %}</h6>
        <ul>
          {% for label in task.labels.all %}
            <li>{{ label }}</li>
          {% endfor %}
        </ul>
      </div>
    </div>
    <div class="row p-1">
      <div class="col">
        <a href="{% url 'tasks:update_task' pk=task.pk %}">{% translate 'Edit' %}</a>
        <br>
        <a href="{% url 'tasks:delete_task' pk=task.pk %}">{% translate 'Delete' %}</a>
      </div>
    </div>
  </div>
</div>
</div>
{% endblock %}
